@charset "utf-8";/* 文字コードの設定 */

/* 原則、このファイルには変更を加えない */

#game_view{
	/* 配置 */
	position: absolute;
	top: 0;
	left: 0;

	/* 表示 */
	display: flex;

	/*サイズ*/
	width: 100%;
	height: 100%;
}

.object{
	/* 配置 */
	position: absolute;

	/* 表示 */
	display: block;
}
